{% extends 'bootstrap/base.html' %}

{% block scripts %}
    {{super()}}
    <script src="{{url_for('.static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{url_for('.static', filename='js/scripts.js')}}"></script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/template.css')}}">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
       <ul class="nav navbar-nav">
        <li class="{% if active=='index' %}active{%endif %}"><a href="{{ url_for('index') }}">1 Team</a></li>
        <li class="{% if active=='teams' %}active{%endif %}"><a href="{{ url_for('teams') }}">Teams</a></li>
      </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}